<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta name="description"
	content="Programmunity is a nonprofit organization aimed to help new coders learn programming"></meta>
<title th:text="${title}">Programunity</title>

<!-- IMPORT BOOTSTRAP CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous"></link>

<!-- IMPORT LOCAL CSS -->
<link th:href="@{/resources/styles/common.css}" href="../../resources/styles/common.css"
	rel="stylesheet" type="text/css"></link>
</head>

<body>
</body>

</html>


